<ion-header class="header">
  <div id="header-navbar" class="header-navbar">
    <div style="text-align:right;height:0px;">
      <button style="top:5px;right:5px;" ion-button clear color="light" (click)="doRefresh()">
        <ion-icon name="md-sync" style="font-size:30px;"></ion-icon>
      </button>
    </div>
    <div class="title-menu">
    </div>
    <div class="title-logo">
      <h3>Barca Info Administrator</h3>
    </div>
  </div>
</ion-header>
<ion-content style="background:#eeeeee;">
  <div class="sidenav">
    <ion-item no-lines style="text-align:center;background:#343d46;border-bottom:3px solid;border-color:#808080;margin-top:-20px;">
      <img src="assets/imgs/logo.gif" height="150" style="border-radius:100%;max-width:100px;max-height:100px;" />
    </ion-item>
    <a padding (click)="doNews()">
      <ion-icon name="md-paper" style="font-size:20px;">&nbsp;&nbsp;&nbsp;News</ion-icon>
    </a>
    <a padding (click)="doPhotos()">
      <ion-icon name="md-images" style="font-size:20px;">&nbsp;&nbsp;&nbsp;Photos</ion-icon>
    </a>
    <a padding (click)="doVideos()">
      <ion-icon name="md-play" style="font-size:20px;">&nbsp;&nbsp;&nbsp;Videos</ion-icon>
    </a>
    <a padding (click)="doPlayers()">
      <ion-icon name="md-people" style="font-size:20px;">&nbsp;&nbsp;&nbsp;Players</ion-icon>
    </a>
    <a padding (click)="doCalendar()">
      <ion-icon name="md-calendar" style="font-size:20px;">&nbsp;&nbsp;&nbsp;Calendar</ion-icon>
    </a>
    <a padding (click)="doNobar()">
      <ion-icon name="md-football" style="font-size:20px;">&nbsp;&nbsp;&nbsp;Nobar</ion-icon>
    </a>
    <a padding (click)="doHighlight()">
      <ion-icon name="md-rewind" style="font-size:20px;">&nbsp;&nbsp;&nbsp;Highlight</ion-icon>
    </a>
    <a padding (click)="doYoutube()">
      <ion-icon name="logo-youtube" style="font-size:18px;">&nbsp;&nbsp;&nbsp;Youtube Videos</ion-icon>
    </a>
    <a padding (click)="doFansPage()">
      <ion-icon name="logo-facebook" style="font-size:20px;">&nbsp;&nbsp;&nbsp;Fans Page</ion-icon>
    </a>
  </div>
  <div class="main">
    <div id="news" style="display: none;">
      <ion-card style="width:98%;" padding>
        <div class="right" style="height:0px;margin-left:46%;margin-top:0px;border:1px solid;border-color:#dedede;right:0px;width:54%;">
          <div class="header" padding style="background: #217481;text-align:center;">
            <h5 style="font-size:15px;font-weight: bold;color:#ffffff;">Semua Berita Aktif ({{TotalNewsAllActive}})</h5>
          </div>
          <div class="body">
            <ion-content style="padding-bottom:700px;border:1px solid;border-color:#eeeeee;">
              <ion-item class="hoveritem" style="border-bottom: 1px solid;border-color:#eeeeee;margin-left:-15px;margin-top:-15px;width:111%;margin-bottom:15px;"
                *ngFor="let newall of NewsAllActive" (click)="doUpdateStatusNewsActive(newall)">
                <ion-avatar item-start>
                  <img src="{{newall.image_url}}" alt="">
                </ion-avatar>
                <div no-padding>
                  <h2>Title : {{newall.title}}</h2>
                  <ion-note>Status :
                    <b>{{newall.status}}</b>
                  </ion-note>
                </div>
                <ion-note style="margin-right:50px;" item-end>Date : {{newall.date}}</ion-note>
              </ion-item>
            </ion-content>
          </div>
        </div>
        <div class="left-top" style="left:0px;width:45%;margin-top:-2px;">
          <ion-row>
            <ion-col col-6 style="margin-right:1px;margin-bottom:1px;background: #eeeeee;color:#217481;border-radius:2%;height:100px;font-weight: bold;">
              <div style="text-align:center;">Semua Berita</div>
              <div style="text-align:center;font-size:50px;">{{TotalNewsAll}}</div>
            </ion-col>
            <ion-col col-5.9 style="margin-bottom:1px;background: #eeeeee;color:#217481;border-radius:2%;height:100px;font-weight: bold;">
              <div style="text-align:center;">Berita Ditambahkan Bulan Ini</div>
              <div style="text-align:center;font-size:50px;">{{TotalNewsMonth}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6 style="margin-right:1px;background: #eb0303;border-radius:2%;color:#ffffff;height:100px;font-weight: bold;">
              <div style="text-align:center;">Berita Ditambahkan Hari Ini</div>
              <div style="text-align:center;font-size:50px;">{{TotalNewsDay}}</div>
            </ion-col>
            <ion-col col-5.9 style="background: #16bd00;border-radius:2%;color:#ffffff;height:100px;font-weight: bold;">
              <div style="text-align:center;">Tambah Berita</div>
              <div style="text-align:center;font-size:50px;">
                <ion-icon class="hoverbutton" name="md-add" (click)="doAddNews()"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="left-bottom" style="margin-top:10px;border:1px solid;border-color:#dedede;left:0px;width:45%;">
          <div class="header" padding style="background: #217481;">
            <h5 style="font-size:15px;font-weight: bold;color:#ffffff;text-align: center;">Berita Tidak Aktif ({{TotalNewsAllNotActive}})</h5>
          </div>
          <ion-content style="padding-bottom:489px;">
            <ion-item class="hoveritem" style="border-bottom: 1px solid;border-color:#eeeeee;margin-left:-15px;margin-top:-15px;width:111%;margin-bottom:15px;"
              *ngFor="let newday of NewsAllNotActive" (click)="doUpdateStatusNewsNotActive(newday)">
              <ion-avatar item-start>
                <img src="{{newday.image_url}}" alt="">
              </ion-avatar>
              <div no-padding>
                <h2>Title : {{newday.title}}</h2>
                <ion-note>Status :
                  <b>{{newday.status}}</b>
                </ion-note>
              </div>
              <ion-note style="margin-right:50px;" item-end>{{newday.date}}</ion-note>
            </ion-item>
          </ion-content>
        </div>
      </ion-card>
    </div>
    <div id="myNews" class="modal">
      <div class="modal-content">
        <div>
          <b>ADD NEWS</b>
          <span class="closeModal" (click)="doCloseAddNews()">&times;</span>
        </div>
        <form [formGroup]="myFormNews">
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Title</ion-label>
            <ion-input formControlName="title" style="border:1px solid;border-color:#eeeeee;padding-left:5px;" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Description</ion-label>
            <ion-textarea formControlName="description" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Image Url</ion-label>
            <ion-input formControlName="imageurl" type="text" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Sumber</ion-label>
            <ion-input formControlName="sumber" type="text" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-input>
          </ion-item>
          <ion-buttons end padding>
            <button ion-button color="bluedark" (click)="doSaveNews();" [disabled]="!myFormNews.valid">Save</button>
          </ion-buttons>
        </form>
      </div>
    </div>


    <div id="photos" style="display: none;">
      <ion-card style="width:98%;" padding>
        <div class="right" style="height:0px;margin-left:46%;margin-top:0px;border:1px solid;border-color:#dedede;right:0px;width:54%;">
          <div class="header" padding style="background: #217481;text-align:center;">
            <h5 style="font-size:15px;font-weight: bold;color:#ffffff;">Semua Gallery Aktif ({{TotalGalleryAllActive}})</h5>
          </div>
          <div class="body">
            <ion-content style="padding-bottom:700px;border:1px solid;border-color:#eeeeee;">
              <ion-item class="hoveritem" style="border-bottom: 1px solid;border-color:#eeeeee;margin-left:-15px;margin-top:-15px;width:111%;margin-bottom:15px;"
                *ngFor="let galleryall of GalleryAllActive" (click)="doUpdateStatusGalleryActive(galleryall)">
                <ion-avatar item-start>
                  <img src="{{galleryall.image_url_thumb}}" alt="">
                </ion-avatar>
                <div no-padding>
                  <h2>Title : {{galleryall.title}}</h2>
                  <ion-note>Status :
                    <b>{{galleryall.status}}</b>
                  </ion-note>
                </div>
                <ion-note style="margin-right:50px;" item-end>Date : {{galleryall.date}}</ion-note>
              </ion-item>
            </ion-content>
          </div>
        </div>
        <div class="left-top" style="left:0px;width:45%;margin-top:-2px;">
          <ion-row>
            <ion-col col-6 style="margin-right:1px;margin-bottom:1px;background: #eeeeee;color:#217481;border-radius:2%;height:100px;font-weight: bold;">
              <div style="text-align:center;">Semua Gallery</div>
              <div style="text-align:center;font-size:50px;">{{TotalGalleryAll}}</div>
            </ion-col>
            <ion-col col-5.9 style="margin-bottom:1px;background: #eeeeee;color:#217481;border-radius:2%;height:100px;font-weight: bold;">
              <div style="text-align:center;">Gallery Ditambahkan Bulan Ini</div>
              <div style="text-align:center;font-size:50px;">{{TotalGalleryMonth}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6 style="margin-right:1px;background: #eb0303;border-radius:2%;color:#ffffff;height:100px;font-weight: bold;">
              <div style="text-align:center;">Gallery Ditambahkan Hari Ini</div>
              <div style="text-align:center;font-size:50px;">{{TotalGalleryDay}}</div>
            </ion-col>
            <ion-col col-5.9 style="background: #16bd00;border-radius:2%;color:#ffffff;height:100px;font-weight: bold;">
              <div style="text-align:center;">Tambah Gallery</div>
              <div style="text-align:center;font-size:50px;">
                <ion-icon class="hoverbutton" name="md-add" (click)="doAddGallery()"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="left-bottom" style="margin-top:10px;border:1px solid;border-color:#dedede;left:0px;width:45%;">
          <div class="header" padding style="background: #217481;">
            <h5 style="font-size:15px;font-weight: bold;color:#ffffff;text-align: center;">Gallery Tidak Aktif ({{TotalGalleryAllNotActive}})</h5>
          </div>
          <ion-content style="padding-bottom:489px;">
            <ion-item class="hoveritem" style="border-bottom: 1px solid;border-color:#eeeeee;margin-left:-15px;margin-top:-15px;width:111%;margin-bottom:15px;"
              *ngFor="let galleryday of GalleryAllNotActive" (click)="doUpdateStatusGalleryNotActive(galleryday)">
              <ion-avatar item-start>
                <img src="{{galleryday.image_url_thumb}}" alt="">
              </ion-avatar>
              <div no-padding>
                <h2>Title : {{galleryday.title}}</h2>
                <ion-note>Status :
                  <b>{{galleryday.status}}</b>
                </ion-note>
              </div>
              <ion-note style="margin-right:50px;" item-end>{{galleryday.date}}</ion-note>
            </ion-item>
          </ion-content>
        </div>
      </ion-card>
    </div>
    <div id="myGallery" class="modal">
      <div class="modal-content">
        <div>
          <b>ADD GALLERY</b>
          <span class="closeModal" (click)="doCloseAddGallery()">&times;</span>
        </div>
        <form [formGroup]="myFormGallery">
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Title</ion-label>
            <ion-input formControlName="title" style="border:1px solid;border-color:#eeeeee;padding-left:5px;" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Image Url Thumb</ion-label>
            <ion-input formControlName="imageurl" type="text" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-input>
          </ion-item>
          <ion-card style="margin-left:18px;width:98%;">
            <ion-item>
              <ion-label color="primary" stacked>Add Url Photos</ion-label>
              <ion-input formControlName="url" type="text" placeholder="Input Url"></ion-input>
              <button item-end ion-button clear color="greenlake" (click)="doAddphotos()">
                <ion-icon name="md-add" style="font-size:20px;"></ion-icon>
              </button>
            </ion-item>
          </ion-card>
          <ion-card style="margin-left:18px;width:98%;">
            <div style="border-top:1px solid;border-color:#dedede;background:#ffffff;">
              <div padding style="font-weight:bold;">
                List Photos
              </div>
              <ion-grid>
                <ion-row>
                  <ion-col col-12 style="border-top:1px solid;border-color:#dedede;">
                    <ion-row>
                      <ion-col col-4>Title</ion-col>
                      <ion-col col-5>Image Url</ion-col>
                      <ion-col col-2>Date</ion-col>
                      <ion-col col-1>Delete</ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col *ngFor="let foto of photos" col-12 style="border-top:1px solid;border-color:#dedede;">
                    <ion-row>
                      <ion-col col-4 style="border-right:1px solid;border-top:0px;border-left:0px;border-color:#dedede">{{foto.title}}</ion-col>
                      <ion-col col-5 style="border-right:1px solid;border-top:0px;border-left:0px;border-color:#dedede">{{foto.image_url}}</ion-col>
                      <ion-col col-2 style="border-right:1px solid;border-top:0px;border-left:0px;border-color:#dedede">{{foto.date}}</ion-col>
                      <ion-col col-1 style="color:white;background:#ac0000;text-align:center;" (click)="doDeletePutawayList(putemp)">
                        <ion-icon name="md-close"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-card>
          <ion-buttons end padding>
            <button ion-button color="bluedark" (click)="doSaveGallery();" [disabled]="!myFormGallery.valid">Save</button>
          </ion-buttons>
        </form>
      </div>
    </div>

    <div id="videos" style="display: none;">
      <ion-card style="width:98%;" padding>
        <div class="right" style="height:0px;margin-left:46%;margin-top:0px;border:1px solid;border-color:#dedede;right:0px;width:54%;">
          <div class="header" padding style="background: #217481;text-align:center;">
            <h5 style="font-size:15px;font-weight: bold;color:#ffffff;">Semua Video Aktif ({{TotalVideosAllActive}})</h5>
          </div>
          <div class="body">
            <ion-content style="padding-bottom:700px;border:1px solid;border-color:#eeeeee;">
              <ion-item class="hoveritem" style="border-bottom: 1px solid;border-color:#eeeeee;margin-left:-15px;margin-top:-15px;width:111%;margin-bottom:15px;"
                *ngFor="let videoall of VideosAllActive" (click)="doUpdateStatusVideosActive(videoall)">
                <div no-padding>
                  <h2>Title : {{videoall.title}}</h2>
                  <ion-note>Status :
                    <b>{{videoall.status}}</b>
                  </ion-note>
                </div>
                <ion-note style="margin-right:50px;" item-end>Date : {{videoall.date}}</ion-note>
              </ion-item>
            </ion-content>
          </div>
        </div>
        <div class="left-top" style="left:0px;width:45%;margin-top:-2px;">
          <ion-row>
            <ion-col col-6 style="margin-right:1px;margin-bottom:1px;background: #eeeeee;color:#217481;border-radius:2%;height:100px;font-weight: bold;">
              <div style="text-align:center;">Semua Video</div>
              <div style="text-align:center;font-size:50px;">{{TotalVideosAll}}</div>
            </ion-col>
            <ion-col col-5.9 style="margin-bottom:1px;background: #eeeeee;color:#217481;border-radius:2%;height:100px;font-weight: bold;">
              <div style="text-align:center;">Video Ditambahkan Bulan Ini</div>
              <div style="text-align:center;font-size:50px;">{{TotalVideosMonth}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6 style="margin-right:1px;background: #eb0303;border-radius:2%;color:#ffffff;height:100px;font-weight: bold;">
              <div style="text-align:center;">Video Ditambahkan Hari Ini</div>
              <div style="text-align:center;font-size:50px;">{{TotalVideosDay}}</div>
            </ion-col>
            <ion-col col-5.9 style="background: #16bd00;border-radius:2%;color:#ffffff;height:100px;font-weight: bold;">
              <div style="text-align:center;">Tambah Video</div>
              <div style="text-align:center;font-size:50px;">
                <ion-icon class="hoverbutton" name="md-add" (click)="doAddVideos()"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="left-bottom" style="margin-top:10px;border:1px solid;border-color:#dedede;left:0px;width:45%;">
          <div class="header" padding style="background: #217481;">
            <h5 style="font-size:15px;font-weight: bold;color:#ffffff;text-align: center;">Video Tidak Aktif ({{TotalVideosAllNotActive}})</h5>
          </div>
          <ion-content style="padding-bottom:489px;">
            <ion-item class="hoveritem" style="border-bottom: 1px solid;border-color:#eeeeee;margin-left:-15px;margin-top:-15px;width:111%;margin-bottom:15px;"
              *ngFor="let videoday of VideosAllNotActive" (click)="doUpdateStatusVideosNotActive(videoday)">
              <div no-padding>
                <h2>Title : {{videoday.title}}</h2>
                <ion-note>Status :
                  <b>{{videoday.status}}</b>
                </ion-note>
              </div>
              <ion-note style="margin-right:50px;" item-end>{{videoday.date}}</ion-note>
            </ion-item>
          </ion-content>
        </div>
      </ion-card>
    </div>
    <div id="myVideos" class="modal">
      <div class="modal-content">
        <div>
          <b>ADD VIDEO</b>
          <span class="closeModal" (click)="doCloseAddVideos()">&times;</span>
        </div>
        <form [formGroup]="myFormVideos">
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Title</ion-label>
            <ion-input formControlName="title" style="border:1px solid;border-color:#eeeeee;padding-left:5px;" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Image Url Thumb</ion-label>
            <ion-input formControlName="imageurlthumb" style="border:1px solid;border-color:#eeeeee;padding-left:5px;" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Video Url</ion-label>
            <ion-input formControlName="videourl" type="text" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-input>
          </ion-item>
          <ion-buttons end padding>
            <button ion-button color="bluedark" (click)="doSaveVideos();" [disabled]="!myFormVideos.valid">Save</button>
          </ion-buttons>
        </form>
      </div>
    </div>


    <div id="calendar" style="display: none;">
      <ion-card style="width:98%;" padding>
        <div class="right" style="height:0px;margin-left:46%;margin-top:0px;border:1px solid;border-color:#dedede;right:0px;width:54%;">
          <div class="header" padding style="background: #217481;text-align:center;">
            <h5 style="font-size:15px;font-weight: bold;color:#ffffff;">Semua Jadwal ({{TotalScheduleAllActive}})</h5>
          </div>
          <div class="body">
            <ion-content style="padding-bottom:700px;border:1px solid;border-color:#eeeeee;">
              <ion-item class="hoveritem" style="border-bottom: 1px solid;border-color:#eeeeee;margin-left:-15px;margin-top:-15px;width:111%;margin-bottom:15px;"
                *ngFor="let scheduleall of ScheduleAllActive" (click)="doUpdateStatusScheduleActive(scheduleall)">
                <div no-padding>
                  <h2>League : {{scheduleall.league}}</h2>
                  <ion-note>Status :
                    <b>{{scheduleall.status}}</b>
                  </ion-note>
                </div>
                <ion-note style="margin-right:50px;" item-end>Date : {{scheduleall.date}}</ion-note>
              </ion-item>
            </ion-content>
          </div>
        </div>
        <div class="left-top" style="left:0px;width:45%;margin-top:-2px;">
          <ion-row>
            <ion-col col-6 style="margin-right:1px;margin-bottom:1px;background: #eeeeee;color:#217481;border-radius:2%;height:100px;font-weight: bold;">
              <div style="text-align:center;">Semua Jadwal</div>
              <div style="text-align:center;font-size:50px;">{{TotalScheduleAll}}</div>
            </ion-col>
            <ion-col col-5.9 style="margin-bottom:1px;background: #eeeeee;color:#217481;border-radius:2%;height:100px;font-weight: bold;">
              <div style="text-align:center;">Jadwal Ditambahkan Bulan Ini</div>
              <div style="text-align:center;font-size:50px;">{{TotalScheduleMonth}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6 style="margin-right:1px;background: #eb0303;border-radius:2%;color:#ffffff;height:100px;font-weight: bold;">
              <div style="text-align:center;">Jadwal Ditambahkan Hari Ini</div>
              <div style="text-align:center;font-size:50px;">{{TotalScheduleDay}}</div>
            </ion-col>
            <ion-col col-5.9 style="background: #16bd00;border-radius:2%;color:#ffffff;height:100px;font-weight: bold;">
              <div style="text-align:center;">Tambah Jadwal</div>
              <div style="text-align:center;font-size:50px;">
                <ion-icon class="hoverbutton" name="md-add" (click)="doAddSchedule()"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="left-bottom" style="margin-top:10px;border:1px solid;border-color:#dedede;left:0px;width:45%;">
          <div class="header" padding style="background: #217481;">
            <h5 style="font-size:15px;font-weight: bold;color:#ffffff;text-align: center;">Jadwal Tidak Aktif ({{TotalScheduleAllNotActive}})</h5>
          </div>
          <ion-content style="padding-bottom:489px;">
            <ion-item class="hoveritem" style="border-bottom: 1px solid;border-color:#eeeeee;margin-left:-15px;margin-top:-15px;width:111%;margin-bottom:15px;"
              *ngFor="let scheduleday of ScheduleAllNotActive" (click)="doUpdateStatusScheduleNotActive(scheduleday)">
              <div no-padding>
                <h2>League : {{scheduleday.league}}</h2>
                <ion-note>Status :
                  <b>{{scheduleday.status}}</b>
                </ion-note>
              </div>
              <ion-note style="margin-right:50px;" item-end>{{scheduleday.date}}</ion-note>
            </ion-item>
          </ion-content>
        </div>
      </ion-card>
    </div>
    <div id="mySchedule" class="modal">
      <div class="modal-content">
        <div>
          <b>ADD JADWAL</b>
          <span class="closeModal" (click)="doCloseAddSchedule()">&times;</span>
        </div>
        <form [formGroup]="myFormSchedule">
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">League</ion-label>
            <ion-input formControlName="league" style="border:1px solid;border-color:#eeeeee;padding-left:5px;" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Round</ion-label>
            <ion-input formControlName="round" style="border:1px solid;border-color:#eeeeee;padding-left:5px;" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Club Home</ion-label>
            <ion-select formControlName="clubhome" style="border:1px solid;border-color:#eeeeee;padding-left:5px;" (ionChange)="onSelectClubHome()">
              <ion-option value="f">Female</ion-option>
              <ion-option value="m">Male</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Club Home Icon</ion-label>
            <ion-input disabled formControlName="clubhomeicon" type="text" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Club Away</ion-label>
            <ion-select formControlName="clubaway" style="border:1px solid;border-color:#eeeeee;padding-left:5px;" (ionChange)="onSelectClubAway()">
              <ion-option value="f">Female</ion-option>
              <ion-option value="m">Male</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Club Away Icon</ion-label>
            <ion-input disabled formControlName="clubawayicon" type="text" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Place</ion-label>
            <ion-input formControlName="place" type="text" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Date</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" formControlName="date" min="2018" max="2020-10-31" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Time</ion-label>
            <ion-datetime displayFormat="HH:mm" formControlName="time" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-datetime>
          </ion-item>
          <ion-buttons end padding>
            <button ion-button color="bluedark" (click)="doSaveSchedule();" [disabled]="!myFormSchedule.valid">Save</button>
          </ion-buttons>
        </form>
      </div>
    </div>

  </div>
</ion-content>