.action-sheet-md .action-sheet-title {
    text-align: left;
    text-align: start;
    font-size: 1.6rem;
    color: #ffffff;
    padding: 11px 16px 17px;
    border-bottom:1px solid;
}
.action-sheet-group {
    overflow: hidden;
    -webkit-flex-shrink: 2;
    -ms-flex-negative: 2;
    flex-shrink: 2;
    pointer-events: all;
}
.action-sheet-md .action-sheet-group {
    background: #262d34;
    color: #ffffff;
}
.action-sheet-md .action-sheet-button {
    text-align: left;
    text-align: start;
    position: relative;
    overflow: hidden;
    min-height: 4.8rem;
    font-size: 1.6rem;
    color: #fff;
    background: transparent;
    padding: 0 16px;
}